body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.header{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    height: 900px;
    padding-bottom: 70px;
}
.header-image img{
    height: 50%;
    width: 100%;
}
.header-text{
    padding-top: 200px;
}
.header-text h1{
    font-weight: bold;
    font-size:50px;
    color:tomato;
}
.header-text h2{
    font-size: 48px;
    font-weight: normal;

}
.header-text p{
    font-size: 20px;
    color:dimgray;
    margin-bottom: 40px;
}
.header-button{
    text-decoration: none;
    background-image: linear-gradient(180deg, lightSalmon, tomato);
    padding:10px 30px;
    color: white;
    border-radius: 5px;
    
}

.biography{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    height: 800px;
    padding-bottom: 70px;
}
.biography-text{
    padding-top: 200px;
}
.biography img{
    width:100%;
}
.biography-text h1{
    font-size: 50px;
    font-weight: bold;
}
.biography-text p{
    font-size: 20px;
    color:dimgray;
    margin-bottom: 40px;
}
.biography-button{
    text-decoration: none;
    background-image: linear-gradient(180deg, lightSalmon, tomato);
    padding:10px 30px;
    color: white;
    border-radius: 5px;
    
}
.latest-work{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    height:700px;
    padding-bottom: 70px;
}
.latest-work h1{
    font-size: 50px;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 120px;
}
.latest-img{
    width: 25%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
}
.latest-work img{
    width:100%;
}
footer{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    height:600px;
    padding-bottom: 70px;
    padding-top: 120px;
    
}
.footer-wrapper{
    width:40%;
    margin: 0 auto;
    text-align: center;
}
.footer-content h1{
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 50px;

}
.footer-content h3{
    font-size: 28px;
}
.footer-content h4{
    font-size: 25px;
    
}

.footer-content-service-name{
    font-size: 20px;
    color: dimgray;
    padding-bottom: 18px;
    font-weight: 500;
}
.footer-content-massege{
    font-size:23px;
    padding-bottom: 80px;
}
.footer-email{
    background-image:linear-gradient(45deg, #EC4F91, tomato);
    padding-top: 30px;
    padding-bottom: 30px;
    color:white;
    border-radius: 10px;
    margin-bottom: 100px;
}
.copyright-text{
    color:dimgray;
}


@media(min-width:320px) and (max-width:480px){
    .header-text{
        padding-top: 0px;
    }
    .header-text h1{
        font-weight: bold;
        font-size:23px;
    }
    .header-text h2{
        font-size: 28px;
    }
    .header-text p{
        font-size:10px;
    }
    .header-button{
        padding: 5px 15px;
    }
    .header{
        height:300px;
    }
}


/* biography media query start*/

@media(min-width:481px) and (max-width:667px){
    .header-text{
        padding-top: 0px;
    }
    .header-text h1{
        font-weight: bold;
        font-size:30px;
    }
    .header-text h2{
        font-size: 35px;
    }
    .header-text p{
        font-size:16px;
    }
    .header{
        height:500px;
    }
}

@media(min-width:668px) and (max-width:767px){
    .header-text{
        padding-top: 0px;
    }
    .header-text h1{
        font-weight: bold;
        font-size:35px;
    }
    .header-text h2{
        font-size: 40px;
    }
    .header-text p{
        font-size:20px;
    }
    .header{
        height:500px;
    }
}


@media(min-width:768px) and (max-width:1024px){
    .header-text{
        padding-top: 0px;
    }
    .header-text h1{
        font-weight: bold;
        font-size:40px;
    }
    .header-text h2{
        font-size: 45px;
    }
    .header-text p{
        font-size:20px;
    }
    .header{
        height:500px;
    }
}
@media(min-width:1025px) and (max-width:1199px){
    .header-text{
        padding-top: 50px;
    }
    .header-text h1{
        font-weight: bold;
        font-size:45px;
    }
    .header-text h2{
        font-size: 48px;
    }
    .header-text p{
        font-size:20px;
    }
    .header{
        height:500px;
    }
}
@media(min-width:1200px) and (max-width:1600px){
    .header-text{
        padding-top: 100px;
    }
    .header-text h1{
        font-weight: bold;
        font-size:48px;
    }
    .header-text h2{
        font-size: 50px;
    }
    .header-text p{
        font-size:20px;
    }
    .header{
        height:650px;
    }
}

/* header media query end*/


/* biography media query start*/
@media(min-width:320px) and (max-width:480px){
    .biography-text{
        padding-top: 0px;
    }
    .biography-text h1{
        font-size: 23px;
        font-weight: bold;
    }
    .biography-text p{
        font-size: 10px;
        color:dimgray;
        margin-bottom: 40px;
    }
    .biography-button{
        text-decoration: none;
        background-image: linear-gradient(180deg, lightSalmon, tomato);
        padding:5px 15px;
        color: white;
        border-radius: 5px;
        
    }
    .biography{
        height:300px;
    }
}

@media(min-width:481px) and (max-width:667px){
    .biography-text{
        padding-top: 0px;
    }
    .biography-text h1{
        font-size: 30px;
        font-weight: bold;
    }
    .biography-text p{
        font-size: 16px;
        color:dimgray;
        margin-bottom: 40px;
    }
    .biography-button{
        text-decoration: none;
        background-image: linear-gradient(180deg, lightSalmon, tomato);
        padding:5px 15px;
        color: white;
        border-radius: 5px;
        
    }
    .biography{
        height:500px;
    }
}

@media(min-width:668px) and (max-width:767px){
    .biography-text{
        padding-top: 0px;
    }
    .biography-text h1{
        font-size: 35px;
        font-weight: bold;
    }
    .biography-text p{
        font-size: 20px;
        color:dimgray;
        margin-bottom: 40px;
    }
    .biography-button{
        text-decoration: none;
        background-image: linear-gradient(180deg, lightSalmon, tomato);
        padding:5px 15px;
        color: white;
        border-radius: 5px;
        
    }
    .biography{
        height:500px;
    }
}


@media(min-width:768px) and (max-width:1024px){
    .biography-text{
        padding-top: 0px;
    }
    .biography-text h1{
        font-size: 40px;
        font-weight: bold;
    }
    .biography-text p{
        font-size: 20px;
        color:dimgray;
        margin-bottom: 40px;
    }
    .biography-button{
        text-decoration: none;
        background-image: linear-gradient(180deg, lightSalmon, tomato);
        padding:5px 15px;
        color: white;
        border-radius: 5px;
        
    }
    .biography{
        height:500px;
    }
}

@media(min-width:1025px) and (max-width:1199px){
    .biography-text{
        padding-top: 50px;
    }
    .biography-text h1{
        font-size: 48px;
        font-weight: bold;
    }
    .biography-text p{
        font-size: 20px;
        color:dimgray;
        margin-bottom: 40px;
    }
    .biography-button{
        text-decoration: none;
        background-image: linear-gradient(180deg, lightSalmon, tomato);
        padding:5px 15px;
        color: white;
        border-radius: 5px;
        
    }
    .biography{
        height:500px;
    }
}

@media(min-width:1200px) and (max-width:1600px){
    .biography-text{
        padding-top: 50px;
    }
    .biography-text h1{
        font-size: 50px;
        font-weight: bold;
    }
    .biography-text p{
        font-size: 20px;
        color:dimgray;
        margin-bottom: 40px;
    }
    .biography-button{
        text-decoration: none;
        background-image: linear-gradient(180deg, lightSalmon, tomato);
        padding:5px 15px;
        color: white;
        border-radius: 5px;
        
    }
    .biography{
        height:650px;
    }
}
/* biography media query end*/



/* latest work media query start*/
@media(min-width:320px) and (max-width:480px){
    .latest-work h1{
        font-size: 23px;
        padding-top: 50px;
    }
    .latest-work{
        height:300px;
        padding-bottom: 0px;
    }
    
}

@media(min-width:481px) and (max-width:667px){
    .latest-work h1{
        font-size: 30px;
        padding-top: 50px;
    }
    .latest-work{
        height:300px;
        padding-bottom: 0px;
    }
    
}

@media(min-width:668px) and (max-width:767px){
    .latest-work h1{
        font-size: 35px;
        padding-top: 50px;
    }
    .latest-work{
        height:300px;
        padding-bottom: 20px;
    }
    
}


@media(min-width:768px) and (max-width:1024px){
    .latest-work h1{
        font-size: 40px;
        padding-top: 50px;
    }
    .latest-work{
        height:300px;
        padding-bottom: 30px;
    }
    
}

@media(min-width:1025px) and (max-width:1199px){
    .latest-work h1{
        font-size: 48px;
        padding-top: 50px;
    }
    .latest-work{
        height:300px;
        padding-bottom: 50px;
    }
    
}

@media(min-width:1200px) and (max-width:1600px){
    .latest-work h1{
        font-size: 50px;
        padding-top: 50px;
    }
    .latest-work{
        height:300px;
        padding-bottom: 70px;
    }
    
}
/* latest work media query end*/


/*footer media query start*/


@media(min-width:320px) and (max-width:480px){
    .footer-content h1{
        font-size: 23px;
        font-weight: bold;
        padding-bottom: 15px;
    
    }
    .footer-content h3{
        font-size: 16px;
    }
    .footer-content h4{
        font-size: 14px;
        
    }
    
    .footer-content-service-name{
        font-size: 12px;
        color: dimgray;
        padding-bottom: 18px;
        font-weight: 500;
    }
    .footer-content-massege{
        font-size:14px;
        padding-bottom: 0px;
    }
    .footer-email{
        background-image:linear-gradient(45deg, #EC4F91, tomato);
        padding-top: 15px;
        padding-bottom: 15px;
        color:white;
        border-radius: 10px;
        margin-bottom: 30px;
    }
    .footer-email h2{
        font-size: 10px;
    }
    .footer-email p{
        font-size: 8px;
    }
    
}

@media(min-width:481px) and (max-width:667px){
    .footer-content h1{
        font-size: 28px;
        font-weight: bold;
        padding-bottom: 15px;
    
    }
    .footer-content h3{
        font-size: 20px;
    }
    .footer-content h4{
        font-size: 14px;
        
    }
    
    .footer-content-service-name{
        font-size: 18px;
        color: dimgray;
        padding-bottom: 18px;
        font-weight: 500;
    }
    .footer-content-massege{
        font-size:18px;
        padding-bottom: 0px;
    }
    .footer-email{
        background-image:linear-gradient(45deg, #EC4F91, tomato);
        padding-top: 15px;
        padding-bottom: 15px;
        color:white;
        border-radius: 10px;
        margin-bottom: 50px;
    }
    .footer-email h2{
        font-size: 14px;
    }
    .footer-email p{
        font-size: 12px;
    }
    .footer{
        padding-top: 40px;
    }
    
}

@media(min-width:668px) and (max-width:767px){
    .footer-content h1{
        font-size: 35px;
        font-weight: bold;
        padding-bottom: 15px;
    
    }
    .footer-content h3{
        font-size: 20px;
    }
    .footer-content h4{
        font-size: 18px;
        
    }
    
    .footer-content-service-name{
        font-size: 18px;
        color: dimgray;
        padding-bottom: 18px;
        font-weight: 500;
    }
    .footer-content-massege{
        font-size:18px;
        padding-bottom: 0px;
    }
    .footer-email{
        background-image:linear-gradient(45deg, #EC4F91, tomato);
        padding-top: 15px;
        padding-bottom: 15px;
        color:white;
        border-radius: 10px;
        margin-bottom: 70px;
    }
    .footer-email h2{
        font-size: 18px;
    }
    .footer-email p{
        font-size: 14px;
    }
    
    .footer{
        padding-top: 60px;
    }
    
}


@media(min-width:768px) and (max-width:1024px){
    .footer-content h1{
        font-size: 40px;
        font-weight: bold;
        padding-bottom: 15px;
        padding-top: 50px;
    
    }
    .footer-content h3{
        font-size: 24px;
    }
    .footer-content h4{
        font-size: 18px;
        
    }
    
    .footer-content-service-name{
        font-size: 24px;
        color: dimgray;
        padding-bottom: 18px;
        font-weight: 500;
    }
    .footer-content-massege{
        font-size:24px;
        padding-bottom: 0px;
    }
    .footer-email{
        background-image:linear-gradient(45deg, #EC4F91, tomato);
        padding-top: 15px;
        padding-bottom: 15px;
        color:white;
        border-radius: 10px;
        margin-bottom: 80px;
    }
    .footer-email h2{
        font-size: 22px;
    }
    .footer-email p{
        font-size: 18px;
    }
    .footer{
        padding-top: 80px;
    }
    
}

@media(min-width:1025px) and (max-width:1199px){
    .footer-content h1{
        font-size: 45px;
        font-weight: bold;
        padding-bottom: 15px;
        padding-top: 80px;
    
    }
    .footer-content h3{
        font-size: 26px;
    }
    .footer-content h4{
        font-size: 20px;
        
    }
    
    .footer-content-service-name{
        font-size: 26px;
        color: dimgray;
        padding-bottom: 18px;
        font-weight: 500;
    }
    .footer-content-massege{
        font-size:26px;
        padding-bottom: 0px;
    }
    .footer-email{
        background-image:linear-gradient(45deg, #EC4F91, tomato);
        padding-top: 15px;
        padding-bottom: 15px;
        color:white;
        border-radius: 10px;
        margin-bottom: 100px;
    }
    .footer-email h2{
        font-size: 24px;
    }
    .footer-email p{
        font-size: 20px;
    }
    .footer{
        padding-top: 100px;
    }
    
}

@media(min-width:1200px) and (max-width:1600px){
    .footer-content h1{
        font-size: 50px;
        font-weight: bold;
        padding-bottom: 15px;
        padding-top: 120px;
    
    }
    .footer-content h3{
        font-size: 26px;
    }
    .footer-content h4{
        font-size: 20px;
        
    }
    
    .footer-content-service-name{
        font-size: 26px;
        color: dimgray;
        padding-bottom: 18px;
        font-weight: 500;
    }
    .footer-content-massege{
        font-size:26px;
        padding-bottom: 0px;
    }
    .footer-email{
        background-image:linear-gradient(45deg, #EC4F91, tomato);
        padding-top: 15px;
        padding-bottom: 15px;
        color:white;
        border-radius: 10px;
        margin-bottom: 100px;
    }
    .footer-email h2{
        font-size: 24px;
    }
    .footer-email p{
        font-size: 20px;
    }
    .footer{
        padding-top:120px;
    }
}
/*footer media query end*/